fastapi

uvicorn

pydantic==2.11.10

python-multipart

python-dotenv

requests

crewai==1.10.1

langchain-groq==1.1.2

langchain-community==0.4.1

langchain-text-splitters

langchain-huggingface

chromadb

pypdf

serpapi

streamlit

sentence-transformers