fastapi
uvicorn
pydantic
python-multipart
python-dotenv
requests
crewai
langchain-groq
langchain-community
langchain-text-splitters
langchain-huggingface
chromadb
pypdf
serpapi
streamlit

# Force CPU-only torch
torch --index-url https://download.pytorch.org/whl/cpu

# Keep sentence transformers AFTER torch
sentence-transformers